body{ 
       
       margin-right: 1000px;
       border-width: 10px;
       margin-top: 20px;
       margin-bottom: 0%;
       margin-left: 10px;

      
} 
div.caja { 
           border: blue 1px solid;
            }
       

 
div.block {
 	        
         border: blue 1px solid;
         
        


       }
          



 div.el{ border-top: blue 1px solid;
          border-left: blue 1px solid;
          border-right: blue 1px solid;         
          height: 189px;
         
          }    